header{
  background-color: #270626;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px;
  font-size: 20px;
  font-family: sans-serif,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

nav{
  background-color: #270626;
  color: white;
  text-align: center;
  padding: 20px;
  margin:0
}

body{
  margin:0
}

.home{
  color:white
}

a{
  text-decoration: none;
  color: black;
  padding: 40px;
  margin: 10px;
}


nav a:hover {
  text-decoration: underline;
}
#btn {
  padding: 20px;
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: Arial;
  text-align: center;
  color: white;
  font-size: 12px;
  background: black;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: black;
}

#btn:hover {
  background: blue;
  
  text-decoration: none;
}

div{
  background-color: black;
}
.myGallery{
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}
.myGallery img{
  width: 80%;
  height: 80%;
  border-radius: 20px;
  box-shadow: 0 4px 8px white;
  transition: transform 0.2s ease;
}
.myGallery img:hover {
  transform: scale(1.6);
}


footer{
  background-color: #270626;
  padding: 40px;
  text-align: center;
  color: white;
}
.socials{
  background-color:#270626;
  display:inline-block;
  padding: 20px;
  
}
.twitter{
  height: 30px;
  width: 30px;
}
.linkedIn{
  height: 30px;
  width: 30px;
}
.github{
  height: 30px;
  width: 30px;
}
.mail{
  height: 30px;
  width: 30px;
}

.socials img {
   width:5%;
   height:5%;
   
  transition: transform 0.2s ease;
}


.socials img:hover{
   transform : scale(1.6)
}

.clock{
  width: 100%;
  height:200%;
  background:#270626;
  border-radius: 10px;
  display: flex;
  align-items: center;
   justify-content: center;
}

.clock span{
  font-size: 60px;
  background: #270626;
  border-radius: 10px;
  color: white;
}
